<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>com.app.web_mvc.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAffichage</servlet-name>
        <servlet-class>com.app.web_mvc.ServletAffichage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjout</servlet-name>
        <servlet-class>com.app.web_mvc.ServletAjout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSupp</servlet-name>
        <servlet-class>com.app.web_mvc.ServletSupp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdate</servlet-name>
        <servlet-class>com.app.web_mvc.ServletUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>RechercheArticle.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechercheArticle</servlet-name>
        <servlet-class>com.app.article.RechercheArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Article</servlet-name>
        <servlet-class>com.app.metier.Article</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestArticles</servlet-name>
        <servlet-class>com.app.metier.GestArticles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestArticlesDAO</servlet-name>
        <servlet-class>com.app.dao.GestArticlesDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierArticle</servlet-name>
        <servlet-class>com.app.article.ModifierArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerArticle</servlet-name>
        <servlet-class>com.app.article.SupprimerArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterArticle</servlet-name>
        <servlet-class>com.app.article.AjouterArticle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAffichage</servlet-name>
        <url-pattern>/ServletAffichage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjout</servlet-name>
        <url-pattern>/ServletAjout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSupp</servlet-name>
        <url-pattern>/ServletSupp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdate</servlet-name>
        <url-pattern>/ServletUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechercheArticle</servlet-name>
        <url-pattern>/RechercheArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Article</servlet-name>
        <url-pattern>/Article</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestArticles</servlet-name>
        <url-pattern>/GestArticles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestArticlesDAO</servlet-name>
        <url-pattern>/GestArticlesDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierArticle</servlet-name>
        <url-pattern>/ModifierArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerArticle</servlet-name>
        <url-pattern>/SupprimerArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterArticle</servlet-name>
        <url-pattern>/AjouterArticle</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
